.music-space{
  display: flex;
  min-width: 1000px;
  padding: 20px;
  background-color: #F9FAFE;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.music-list {
  flex-grow: 1;
  margin-right: 20px;
  z-index: 0;
  font-family: 'Raleway';
}

.list-title {
  font-size: 1.6rem;
  
}

.list-sub{
  color: gray;
  margin-bottom: 16px;
}
.list-title,.list-sub{
  text-align: left;
  margin-left: 15px;
}
.play-list{

}

.play-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: white;
  border-radius: 4px;
  justify-content: space-between;
  margin-bottom: 8px;
  
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* .play-item:nth-child(n - 1) {
  margin-bottom: 8px;
} */

/* .play-item:first-child {
  margin-top: 0;
} */
.play-item:last-child {
  margin-bottom: 0;
  height: 50px;
}

.play-block {
  display: flex;
  align-items: center;
  border: none;
  background: local;
  min-width: 300px;
  cursor: pointer;
}

.index {
  margin-right: 12px;
}

.thumbnail {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 12px;
}

.play-icon{
  margin-right: 12px;
  color: #C3C4CF;
  opacity: .5;
}
.playing{
  color: #0F9D58;
}


.play-author{
  color: #C3C4CF;
  width: 200px;
  text-align: left;
  font-weight: 500;
  
}

.timer{
  color: gray;
}

.fa-heart{
  color: rgb(253,29,29);
  /* background: -webkit-linear-gradient(#eee, #333); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,99,69,1) 100%); */
}

.text-strong {
  font-weight: bold;
}
.btn-like{
  border: none;
  background: none;
}
